body {
    height:100%;
}
header {
    background-color: rgb(128, 55, 245);
    height: 6em;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#weatherInput {
 height: 20px;
 width: 400px;
 border-radius: 20px;

}

#submit {
 height: 30px;
 width: 100px;
  border-radius: 20px;
}

#weatherInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
